<h1>Clients!</h1>

<ul>
  <li><a href="/clients/new">Add a new client</a></li>
  <li><a href="/clients">View all current clients</a></li>
</ul>

<ul>
  <li><a href="/stylists">View Stylist List</a></li>
  <li><a href="/stylists/new">Add a New Stylist</a></li>
</ul>
